<div class="container" style="text-align: center">
  <h3 class="heading p-3">Add a Product</h3>
  <div class="row">
    <div class=" col-8 col-md-7 mx-auto">
      <form class="addForm" #createProduct="ngForm" (ngSubmit)="generateProduct()">
        <mat-form-field class="form-field">
          <input matInput placeholder="Name" name="productName" [(ngModel)]="productName" required>
        </mat-form-field>

        <mat-form-field class="form-field">
          <input matInput placeholder="Stock" name="stock" [(ngModel)]="stock" required>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput [matDatepicker]="picker" placeholder="Expiry Date" name="expDate" [(ngModel)]="expDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="form-field">
          <input matInput placeholder="Code" name="code" [(ngModel)]="code" required readonly>
        </mat-form-field>
          
        <button  class="btn btn-outline-primary" type="submit" [disabled]='!createProduct.form.valid'>Add</button>
        &nbsp; &nbsp;
        <button  class="btn btn-outline-danger" routerLink ="/view/{{username">Cancel</button>
      </form>
    </div>
  </div>
</div>