.heading {
    font-style: italic;
    font-weight: bold;
    color:rgb(10, 186, 240);
    padding-top: 2vh;
}

.addForm {
    text-align: center;
    border-left: 5px green solid;
    padding-left: 1vw;
    text-align: center;
  }
  
  .form-field{
    width: 100%;
  }
  .row {
      padding-top:13vh;
  }
 