
  .tableHeading {
      font-style:italic;
      color:rgb(233, 16, 88);

  }
  table{
    box-shadow: 10px 10px 5px grey;
  }

 .accountHeading {
        font-style: italic;
        font-weight: bold;
        color:rgb(17, 109, 247);
        text-align: center;
        text-decoration:underline;
    
 }
 .icon {
	color : rgb(233, 16, 88);
	cursor: pointer;
}

#title{

    text-transform: capitalize
}

  