<div class="container-fluid pt-5" name="isChanged" [(ngModel)]="isChanged" ngDefaultControl>
  <h3 class="accountHeading p-3">Your Products</h3>
  <div class="row">
    <div class=" table-responsive">
    <table class="table table-striped  p-2">
      <thead>
        <tr>
          <th scope="col" class="tableHeading">Code</th>
          <th scope="col" class="tableHeading">Product</th>
          <th scope="col" class="tableHeading">Stock</th>
          <th scope="col" class=" tableHeading d-none d-md-block">Expiry Date</th>
          <th scope="col" class="tableHeading">Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="products!== null">
        <tr *ngFor="let prod of products">
          <td [style.color]='prod.stock<10?"red":prod.stock<30?"orange":"green"' id="code">
            <strong>{{prod.code}}</strong></td>

          <td [style.color]='prod.stock<10?"red":prod.stock<30?"orange":"green"' id="title" *ngIf ="!prod.edit">
            <strong>{{prod.title}}</strong>
              </td>
          <td *ngIf="prod.edit">
            <input type="text" [style.color]='prod.stock<10?"red":prod.stock<30?"orange":"green"' id="title" 
             [(ngModel)] = "title"  size ="10" placeholder ="Title">
          </td>
          <td [style.color]='prod.stock<10?"red":prod.stock<30?"orange":"green"' *ngIf="!prod.edit" id="stock">
            <strong>{{prod.stock}}</strong>
          </td>
          <td *ngIf="prod.edit" [style.color]='prod.stock<10?"red":prod.stock<30?"orange":"green"' id="stock">
            <input type="text"   [(ngModel)] = "stock" size ="5" placeholder ="Stock" >
          </td>
          <td class="d-none d-md-block" *ngIf="!prod.edit" id="expiryDate">
            <strong>{{prod.expiry |  date:"dd/MM/yy"}}</strong></td>
          <td *ngIf="prod.edit" class="d-none d-md-block" id="expiryDate">
            <input type="date" [(ngModel)] = "expiry" class="d-none d-md-block" placeholder ="Expiry Date" size="8">
          </td>
          <td>
            <i class="fa fa-edit fa-lg icon" (click)="editProduct(prod)" *ngIf="!prod.edit"></i>
            <i class="fa fa-check  fa-lg icon" *ngIf="prod.edit" (click)="saveProduct(prod)"></i>&nbsp;&nbsp;
            <i class="fa fa-trash  fa-lg icon" (click)="deleteProduct(prod)" *ngIf="!prod.edit"></i>
            <i class="fa fa-times-circle fa-lg  icon" *ngIf="prod.edit" (click) ="cancelEdit(prod)"></i>          
          </td>
        </tr>
      </tbody>
    </table>
  </div>
    <a mat-mini-fab class="mx-auto" routerLink="/addProduct/{{username}}">Add</a>
  </div>
  
</div>